In [3]:
import pandas as pd,numpy as np

In [4]:
pd.Series(['猩猩','鸭鸭','甜豆'])

0    猩猩
1    鸭鸭
2    甜豆
dtype: object

In [5]:
ser1 = pd.Series(['猩猩','鸭鸭','甜豆'], index=['dad','mum','baby'])

In [6]:
ser1['baby']

'甜豆'

In [7]:
ser2 = pd.Series([5,6,7,8,9])
ser2*2

0    10
1    12
2    14
3    16
4    18
dtype: int64

In [8]:
ser2[ser2>8]

4    9
dtype: int64

In [9]:
ser2*3

0    15
1    18
2    21
3    24
4    27
dtype: int64

In [10]:
np.exp(ser2)

0     148.413159
1     403.428793
2    1096.633158
3    2980.957987
4    8103.083928
dtype: float64

In [11]:
'baby' in ser1

True

In [12]:
dict = {'dad':'猩猩','mum':'鸭鸭','baby':'甜豆'}
pd.Series(dict)

dad     猩猩
mum     鸭鸭
baby    甜豆
dtype: object

In [13]:
indexs = ['baby','mum','dad','friend']
dict = {'dad':'猩猩','mum':'鸭鸭','baby':'甜豆'}
ser3 = pd.Series(dict,index = indexs)
pd.notnull(ser3)

baby       True
mum        True
dad        True
friend    False
dtype: bool

In [14]:
indexs = ['a','b','c','d']
ser5=pd.Series([1,2,3,4],index = indexs)
ser6=pd.Series([4,3,2,1],index = indexs)
ser5+ser6

a    5
b    5
c    5
d    5
dtype: int64

In [15]:
ser3.name='family'
ser3.index.name='state'
ser3

state
baby       甜豆
mum        鸭鸭
dad        猩猩
friend    NaN
Name: family, dtype: object

In [16]:
ser3.index= ['孩子','妈妈','爸爸','朋友']
ser3

孩子     甜豆
妈妈     鸭鸭
爸爸     猩猩
朋友    NaN
Name: family, dtype: object

In [17]:
ser3 = ser3.drop(['孩子','朋友'])
ser3

妈妈    鸭鸭
爸爸    猩猩
Name: family, dtype: object

In [18]:
# Series通过排列顺序索引
ser1[0:3]

dad     猩猩
mum     鸭鸭
baby    甜豆
dtype: object

In [19]:
# 通过Index进行切片
ser1['dad':'baby']

dad     猩猩
mum     鸭鸭
baby    甜豆
dtype: object

In [20]:
# 根据Index选择
ser1['mum']

'鸭鸭'

In [21]:
# 根据属性选择
ser1[ser1 =='甜豆']

baby    甜豆
dtype: object

In [22]:
# 赋值
ser1['baby']='咪咪'
ser1

dad     猩猩
mum     鸭鸭
baby    咪咪
dtype: object

In [23]:
ser7 = ser2.reindex([1,2,2,3,3,4])
ser7[2]

2    7
2    7
dtype: int64

In [37]:
ser6.value_counts()

4    1
3    1
2    1
1    1
dtype: int64

In [38]:
# Index().get_indexer()方法 获取Index
to_match = pd.Series(['c','a','b','b','c','a'])
unique_vals = pd.Series(['a','b','c'])
pd.Index(unique_vals).get_indexer(to_match)

array([2, 0, 1, 1, 2, 0], dtype=int64)

In [42]:
# apply(pd.value_counts)函数应用
data = pd.DataFrame({'Qu1':[1,3,4,3,4],'Qu2':[2,3,1,2,3],'Qu3':[1,5,2,4,4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [43]:
data.apply(pd.value_counts).fillna(0)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0